######## 1 APP #########
APP_NAME='mvp-server-tpl'
APP_VERSION='0.2.0'


######## 2 DB #########
# db=sqlite
# db=mysql
db=postgresql

DB_HOST='10.1.xx.1'
DB_USER='root'
DB_PASSWD='1123334'
DB_PORT=3306
DB_DATABASE='mvp-demo'

# db sync alter
DB_SYNC_ALTER=false

######## 3 upload #########
# 上传到目录
UPLOAD_LOCAL_PATH='D:\\workspace\\html'

# 本地web服务，web根目录和上面的一致，如果不一致，请自行修改路径
UPLOAD_BASE_URL='http://localhost:8080'   

######## 4 OSS #########
ALI_OSS_REGION=oss-cn-hangzhou
ALI_OSS_BUCKET=
ALI_OSS_ID=
ALI_OSS_SECRET=
ALI_OSS_ENDPOINT=https://oss-cn-hangzhou.aliyuncs.com
